.bookshelf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;;
}
    
.bookshelf {
  position: relative;
  width: 800px;
  height: 532px;
  margin: auto;
  padding: 20px;
  background-image: url('../images/bookshelf_display.png');
  background-size: contain;
  background-repeat: repeat-y;
  background-position: center top;
}
    
.bookshelf-title {
  text-align: center;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
  margin-left: 40px;
}

.book {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.book-cover {
max-width: 84%;
max-height: 84%;
object-fit: contain;
}
