.bookshelf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;;
}
    
.bookshelf {
  position: relative;
  width: 800px;
  margin: auto;
  padding: 20px;
  background-image: url('../images/bookshelf_display.png');
  background-size: contain;
  background-repeat: repeat-y;
  background-position: center top;
}
    
.bookshelf-title {
  text-align: center;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 52px 8px ;
  margin: 28px 40px 0px 40px;
}
